.author-info {
    display: inline-block;
    margin-top: 5px;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.thumbnail-container-daniel {
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
}

.bg-pattern-quotation {
    position: absolute;
    top: 0px;
    right: 90px;
}

.blog-preview-daniel {
    background-color: hsl(263, 55%, 52%);
    padding: 2rem;
    width: 660px;
    height: 270px;
    border-radius: 10px;
    position: relative;
}

.author-name-daniel {
    color: hsl(260, 100%, 95%);
    font-weight: 600;
}

.author-status-daniel {
    color: hsl(264, 82%, 80%);
}

.blog-title-daniel {
    color: hsl(260, 100%, 95%);
}

.blog-daniel {
    color: hsl(264, 82%, 80%);
}


.blog-preview-jonathan {
    background-color: hsl(217, 19%, 35%);
    padding: 2rem;
    width: 260px;
    height: 250px;
    border-radius: 10px;
}

.author-name-jonathan {
    color: hsl(214, 17%, 92%);
    font-weight: 600;
}

.author-status-jonathan {
    color: hsl(0, 0%, 81%);
}

.blog-title-jonathan {
    color: hsl(214, 17%, 92%);
}

.blog-jonathan , .blog-jeanette , .blog-patrick , .blog-kira {
    color: hsl(0, 0%, 81%);
}


.blog-preview-jeanette {
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    width: 260px;
    height: 250px;
    border-radius: 10px;
}

.author-name-jeanette {
    color: hsl(219, 29%, 14%);
    font-weight: 600;
}

.author-status-jeanette {
    color: hsl(0, 0%, 81%);
}

.blog-title-jeanette {
    color: hsl(219, 29%, 14%);
}


.blog-preview-patrick {
    background-color: hsl(219, 29%, 14%);
    padding: 2rem;
    width: 660px;
    height: 250px;
    border-radius: 10px;
}

.author-name-patrick {
    color: hsl(214, 17%, 92%);
    font-weight: 600;
}

.author-status-patrick {
    color: hsl(0, 0%, 81%);
}

.blog-title-patrick {
    color: hsl(214, 17%, 92%);
}


.blog-preview-kira {
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    width: 265px;
    border-radius: 10px;
}

.author-name-kira {
    color: hsl(219, 29%, 14%);
    font-weight: 600;
}

.author-status-kira {
    color: hsl(0, 0%, 81%);
}

.blog-title-kira {
    color: hsl(219, 29%, 14%);
}
