.thumbnail-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.thumbnail-container-daniel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bg-pattern-quotation {
    top: 0px;
    right:100px;
    position: absolute;
}

.blog-preview-daniel {
    background-color: hsl(263, 55%, 52%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 2rem;
    width: 610px;
    height: 290px;
    border-radius: 10px;
    position: relative;
}

.author-name-daniel {
    color: hsl(260, 100%, 95%);
    font-weight: 600;
    line-height: 15px;
}

.author-status-daniel {
    color: hsl(264, 82%, 80%);
}

.blog-title-daniel {
    color: hsl(260, 100%, 95%);
    font-size: 21px;
    line-height: 25px;
    position: relative;
    margin: 0;
}

.blog-daniel {
    color: hsla(264, 82%, 80%, 0.707);
    font-size: 13.5px;
    margin: 0px;
    line-height: 23px;
}


.blog-preview-jonathan {
    background-color: hsl(217, 19%, 35%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 2rem;
    width: 260px;
    height: 290px;
    border-radius: 10px;
}

.author-name-jonathan {
    color: hsl(214, 17%, 92%);
    font-weight: 600;
    line-height: 15px;
}

.author-status-jonathan {
    color: hsl(0, 0%, 81%);
}

.blog-title-jonathan {
    color: hsl(214, 17%, 92%);
    font-size: 21px;
    line-height: 25px;
    margin: 0;
}

.blog-jonathan , .blog-jeanette , .blog-patrick , .blog-kira {
    color: hsla(0, 1%, 67%, 0.754);
    font-size: 13.5px;
    margin: 0px;
    line-height: 23px;
}


.blog-preview-jeanette {
    background-color: hsl(0, 0%, 100%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 2rem;
    width: 260px;
    height: 270px;
    border-radius: 10px;
}

.author-name-jeanette {
    color: hsl(219, 29%, 14%);
    font-weight: 600;
    line-height: 15px;
}

.author-status-jeanette {
    color: hsl(0, 1%, 67%);
}

.blog-title-jeanette {
    color: hsl(219, 29%, 14%);
    font-size: 21px;
    line-height: 25px;
    margin: 0;
}


.blog-preview-patrick {
    background-color: hsl(219, 29%, 14%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 2rem;
    width: 610px;
    height: 270px;
    border-radius: 10px;
}

.author-name-patrick {
    color: hsl(214, 17%, 92%);
    font-weight: 600;
    line-height: 15px;
}

.author-status-patrick {
    color: hsl(0, 0%, 81%);
}

.blog-title-patrick {
    color: hsl(214, 17%, 92%);
    font-size: 21px;
    line-height: 25px;
    margin: 0;
}


.blog-preview-kira {
    background-color: hsl(0, 0%, 100%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 2rem;
    width: 260px;
    height: 656px;
    border-radius: 10px;
}

.author-name-kira {
    color: hsl(219, 29%, 14%);
    font-weight: 600;
    line-height: 15px;
}

.author-status-kira {
    color: hsl(0, 1%, 67%);
}

.blog-title-kira {
    color: hsl(219, 29%, 14%);
    font-size: 21px;
    line-height: 25px;
    margin: 0;
}

@media (max-width: 600px){
    .blog-preview-daniel , .blog-preview-jonathan , .blog-preview-jeanette , .blog-preview-patrick , .blog-preview-kira {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}