body {
    background: hsl(214, 17%, 92%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}

.grid-3-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}