body {
    background: hsl(214, 17%, 92%);
    padding: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

.grid-3-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

p {
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    font-size: 14.5px;
    line-height: 23px;
}

h3 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
    margin: 0;
}

img {
    width: 33px;
    height: 33px;
    border-radius: 30px;
    border: 2px solid hsl(0, 0%, 100%);
}
