body {
    background: hsl(214, 17%, 92%);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

.grid-3-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

p {
    margin: 0;
}